.jumbotron {
    margin-bottom: 0;
    background-image: url(https://i.pinimg.com/736x/ae/60/71/ae6071a39a49ea23acbf295b5bbae9c7.jpg);
    background-size: cover;
}

.titel-ueberschrift {
    color: white;
    padding-left: 25px;
}

h3, h5, h6 {
    color: rgba(13, 148, 158, 0.87);
    font-weight: bold;
}

h5, h6 {
    padding-top: 60px;
}

h3 {
    animation-duration: 2s;
    animation-name: animation;
    padding-top: 30px;
}

p {
    text-align: justify;
}

img {
    padding-bottom: 20px;
}
  
.img-iso, .img-ascii {
    width: 33%;
}
  
.img-utf8 {
    width: 47%;
}
  
.img-utf16 {
    width: 41%;
}

.img-addition {
    width: 8%;
    padding-bottom: 35px;
}
  
.img-subtraktion {
    width: 35%;
    padding-bottom: 35px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #343a40;
    padding: .5rem 1rem;
}

.text-muted {
    color: rgba(255,255,255,.5)!important;
    padding: .5rem 1rem;
}

#rechner .table {
    width: 330px;
}
  
#rechner .table td {
    padding: 0;
}

#dez, #bin {
    margin-bottom: 30px;
    width: 215px;
}

@keyframes animation {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}

@media (max-width: 575px) {
    
    .img-iso, .img-ascii, .img-utf8, .img-utf16, .img-subtraktion {
      width: 100%;
    }

    .img-addition {
        width: 40%;
    }

    .row img {
        width: 50%;
    }
}